canvas {
    padding: 0;
    margin: auto;
    width: 1000px;
    height: 600px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("img/beach.png");
    background-repeat: no-repeat;
    background-size: 1000px 600px;
}

#source {
    display: none;
}